* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Funnel Display;
}

body {
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 0) 0.9px,
    transparent 0
  );
  background-size: 1rem 1rem;
  background-repeat: round;
}

p {
  color: white;
  word-wrap: break-word;
  font-size: 35px;
}

h1 {
  text-align: center;
  margin: 10px 10px 20px 10px;
  font-size: 70px;
}

#calculator {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 250px;
  background-color: #363537;
  /* Gap between screen and numpad */
  gap: 10px;
  /* Border Radius */
  border-radius: 20px;
  /* Border Shadow */
  box-shadow: 0px 0px 13px 1px rgb(130, 130, 130);
}

#screen {
  border-radius: 20px;
  background-color: #222222;
}

#screen p {
  text-align: end;
  padding: 5px 10px;
}

.num,
.symbol,
.reset-button,
.equal-button,
.dot-button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50px;
  border-style: none;
  transition: background-color 80ms linear 3ms;
}

#numPad {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}

#operators {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#options {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.symbol {
  background-color: #ed7d3a;
  color: white;
}

.symbol:hover {
  background-color: #cf692f;
}

/* Assigns different colors for the buttons */
.dot-button {
  background-color: #49516f;
  width: 50px;
  color: white;
}

.num {
  flex-direction: row;
  background-color: #49516f;
  color: white;
}

.num:hover {
  background-color: #616c94;
}

.reset-button {
  background-color: #ef2d56;
  width: 105px;
  color: white;
}

.reset-button:hover {
  background-color: white;
  color: #ef2d56;
}

.equal-button {
  background-color: #2fbf71;
  color: white;
  width: 105px;
}

.equal-button:hover {
  background-color: white;
  color: #2fbf71;
}

/* #clear {
  background-color: #ef2d56;
  color: white;
} */
